/*-------------- login and register ---------------------------*/
/*----------------- admin เพิ่ม/ลดสินค้า -------------------------*/
body {
    font-family: 'Itim', cursive;
    background: #fef4e5;
  }
  .login-form {
    background: rgb(255, 216, 181);
    width: 600px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    font-size: 26px;
  }
  .login-form h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
  }
  .login-form h2 {
    font-weight: 300;
    font-size: 20px;
  }
  .login-form .content {
    padding: 35px;
  }
  .login-form .input-field {
    padding: 2px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
    font-family: 'Itim', cursive;
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Itim', cursive;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
    color: #777;
  }
  .login-form .action button:nth-child(2) {
    background: sandybrown;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: rgb(244, 151, 69);
  }
  .login-form .action a {
    color: black;
    text-align: center;
  }
/*--------------------------เพิ่ม/ลดสินค้า------------------------------------*/
.custom-select {
  position: relative;
  font-family: 'Itim', cursive;
  font-size: 16px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: sandybrown transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent sandybrown transparent;
  top: 12px;
}

.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  height: 22px;
  padding-top: 12px;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*--- button  ---*/
.login-form .kidmioon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .kidmioon button {
  width: 100%;
  border: none;
  padding: 10px;
  font-family: 'Itim', cursive;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: sandybrown;
  color: white;
  font-size: 20px;
}
.login-form .kidmioon button:hover {
  background: rgb(242, 182, 130);
  color: black;
}
/*--------------------------- profile ------------------------------*/
.profile-form {
  background: rgb(255, 216, 181);
  width: 70%;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  font-size: 26px;
}
.profile-form h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}
.profile-form h2 {
  font-weight: 300;
  font-size: 30px;
}
.profile-form .content {
  padding: 35px;
}
.profile-form input {
  font-size: 20px;
  font-family: 'Itim', cursive;
  display: inline-block;
  width: 70%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #747474;
  background: #fef4e5;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=submit] {
  width: 200px;
  border: none;
  padding: 18px;
  font-family: 'Itim', cursive;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  background: sandybrown;
  color: white;
}
.profile-form button {
  width: 200px;
  border: none;
  padding: 18px;
  font-family: 'Itim', cursive;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  background: sandybrown;
  color: white;
}
.profile-form button:hover {
  background: #d8d8d8;
  color: #777;
}
.profile-form .content {
  padding: 35px;
}